{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'vendedor/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 50%;">Nombre</th>
        <th scope="col" style="width: 15%;">Teléfono</th>
        <th scope="col" style="width: 15%;">Mail</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}