{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'nacimiento/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 10%;">Id Fecundacion</th>
        <th scope="col" style="width: 50%;">Id Animal</th>
        <th scope="col" style="width: 50%;">Fecha</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}