{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
<div id="formulario">
    <div class="card card-primary">
        <form id="frm" method="post" action=".">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                    {% else %}
                    <i class="fas fa-edit"></i>
                    {% endif %}
    
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                    <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}:</label>
                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                </div>
                {% endfor %}
                <div class="card card-info text-center" id="divAscendencia" hidden>
                    <div class="card-header">
                        <h3 class="card-title">Ascendencia</h3>
                    </div>
                    <div class="card-body">
                        <span id="ascendencia"></span> 
                    </div>
                </div>
                <div class="card card-info text-center" id="divCategoria" hidden>
                    <div class="card-header">
                        <h3 class="card-title">Categoría</h3>
                    </div>
                    <div class="card-body">
                        <span id="categoria"></span> 
                    </div>
                </div>
                <div class="card card-info text-center" id="medidasRecientes" hidden>
                    <div class="card-header">
                        <h3 class="card-title">Medidas Recientes</h3>
                    </div>
                    <div class="card-body">
                        <b>Fecha:</b> <span id="fecha_medida_reciente"></span>. <b>Peso:</b> <span id="peso_medida_reciente"></span> kg. <b>Altura:</b> <span id="altura_medida_reciente"></span> cm. 
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary btn-flat" id="btnGuardarAnimal">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
    <div class="card card-primary">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <span class="nav-link active" id="medidas-tab" data-toggle="tab" data-target="#medidas"
                        role="tab" aria-controls="medidas"
                        aria-selected="true">Medidas</span>
                </li>
                <li class="nav-item" role="presentation">
                    <span class="nav-link" id="preventivos-tab" data-toggle="tab" data-target="#preventivos"
                        role="tab" aria-controls="preventivos" aria-selected="false">Tratamientos Preventivos</span>
                </li>
                <li class="nav-item" role="presentation">
                    <span class="nav-link" id="curativos-tab" data-toggle="tab" data-target="#curativos"
                        role="tab" aria-controls="curativos"
                        aria-selected="false">Tratamientos Curativos</span>
                </li>
                <li class="nav-item" role="presentation">
                    <span class="nav-link" id="fecundaciones-tab" data-toggle="tab" data-target="#fecundaciones"
                        role="tab" aria-controls="fecundaciones"
                        aria-selected="false">Fecundaciones</span>
                </li>
                <li class="nav-item" role="presentation">
                    <span class="nav-link" id="palpaciones-tab" data-toggle="tab" data-target="#palpaciones"
                        role="tab" aria-controls="palpaciones"
                        aria-selected="false">Palpaciones</span>
                </li>
                <li class="nav-item" role="presentation">
                    <span class="nav-link" id="perdidas-tab" data-toggle="tab" data-target="#perdidas"
                        role="tab" aria-controls="perdidas"
                        aria-selected="false">Pérdidas</span>
                </li>
                <li class="nav-item" role="presentation">
                    <span class="nav-link" id="nacimientos-tab" data-toggle="tab" data-target="#nacimientos"
                        role="tab" aria-controls="nacimientos"
                        aria-selected="false">Nacimientos</span>
                </li>
            </ul>
            <div class="tab-content" id="historialTab">
                <div class="tab-pane fade show m-2 active" id="medidas" role="tabpanel" aria-labelledby="medidas-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Fecha</th>
                                    <th>Peso (KG)</th>
                                    <th>Altura (CM)</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyMedidas">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <input id="fecha_medida" name="fecha_medida" type="date" class="form-control" aria-label="Fecha" aria-describedby="Fecha">
                                    </td>
                                    <td>
                                        <input id="peso_medida" name="peso_medida" type="number" min="1" class="form-control" aria-label="Peso" aria-describedby="Peso">
                                    </td>
                                    <td>
                                        <input id="altura_medida" name="altura_medida" type="number" min="10" class="form-control" aria-label="Altura" aria-describedby="Altura">
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarMedida"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade m-2" id="preventivos" role="tabpanel" aria-labelledby="preventivos-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Tratamiento</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    <th>Observación</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPreventivos">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <select id="preventivo" name="preventivo" class="form-control" aria-label="Tipo" aria-describedby="Tipo">
                                            <option value="" selected disabled>Seleccione</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input id="inicio_preventivo" name="inicio_preventivo" type="date" class="form-control" aria-label="Inicio" aria-describedby="Inicio">
                                    </td>
                                    <td>
                                        <input id="fin_preventivo" name="fin_preventivo" type="date" class="form-control" aria-label="Fin" aria-describedby="Fin">
                                    </td>
                                    <td>
                                        <textarea rows="1" id="observacion_preventivo" name="observacion_preventivo" class="form-control" aria-label="Observación" aria-describedby="Observación"></textarea>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarPreventivo"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade m-2" id="curativos" role="tabpanel" aria-labelledby="curativos-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Nombre</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    <th>Periodicidad</th>
                                    <th>Observación</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCurativos">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <input id="nombre_curativo" name="nombre_curativo" type="text" class="form-control" aria-label="Nombre" aria-describedby="Nombre">
                                    </td>
                                    <td>
                                        <input id="inicio_curativo" name="inicio_curativo" type="date" class="form-control" aria-label="Inicio" aria-describedby="Inicio">
                                    </td>
                                    <td>
                                        <input id="fin_curativo" name="fin_curativo" type="date" class="form-control" aria-label="Fin" aria-describedby="Fin">
                                    </td>
                                    <td>
                                        <input id="periodicidad_curativo" name="periodicidad_curativo" type="number" min="0" class="form-control" aria-label="Periodicidad" aria-describedby="Periodicidad">
                                    </td>
                                    <td>
                                        <textarea rows="1" id="observacion_curativo" name="observacion_curativo" class="form-control" aria-label="Observación" aria-describedby="Observación"></textarea>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarCurativo"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade m-2" id="fecundaciones" role="tabpanel" aria-labelledby="fecundaciones-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Fecha</th>
                                    <th>Padre/Madre</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyFecundaciones">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <input id="fecha_fecundacion" name="fecha_fecundacion" type="date" class="form-control" aria-label="Fecha" aria-describedby="Fecha">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" id="padre" name="padre" class="form-control" aria-label="padre" aria-describedby="padre" disabled>
                                            <div class="input-group-append">
                                                <button type="button" id="btn_buscar_padre" class="btn btn-sm btn-primary"><i class="fas fa-search"></i></span></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarFecundacion"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade m-2" id="palpaciones" role="tabpanel" aria-labelledby="palpaciones-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Fecha</th>
                                    <th>Fecundación</th>
                                    <th>Resultado</th>
                                    <th>Observación</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPalpaciones">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <input id="fecha_palpacion" name="fecha_palpacion" type="date" class="form-control" aria-label="Fecha" aria-describedby="Fecha">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" id="fecundacion" name="fecundacion" class="form-control" aria-label="fecundacion" aria-describedby="fecundacion" disabled>
                                            <div class="input-group-append">
                                                <button type="button" id="btn_buscar_fecundacion" class="btn btn-sm btn-primary"><i class="fas fa-search"></i></span></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select id="resultado_palpacion" name="resultado_palpacion" class="form-control" aria-label="Resultado" aria-describedby="Resultado">
                                            <option value="V">Vivo</option>
                                            <option value="M">Muerto</option>
                                        </select>
                                    </td>    
                                    <td>
                                        <textarea rows="1" id="observacion_palpacion" name="observacion_palpacion" class="form-control" aria-label="Observación" aria-describedby="Observación"></textarea>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarPalpacion"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade m-2" id="perdidas" role="tabpanel" aria-labelledby="perdidas-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Fecha</th>
                                    <th>Palpación</th>
                                    <th>Causa</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPerdidas">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <input id="fecha_perdida" name="fecha_perdida" type="date" class="form-control" aria-label="Fecha" aria-describedby="Fecha">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" id="palpacion_perdida" name="palpacion_perdida" class="form-control" aria-label="palpacion de pérdida" aria-describedby="palpacion de pérdida" disabled>
                                            <div class="input-group-append">
                                                <button id="btn_buscar_palpacion_perdida" type="button" class="btn btn-sm btn-primary"><i class="fas fa-search"></i></span></button>
                                            </div>
                                        </div>
                                    </td>   
                                    <td>
                                        <input id="causa_perdida" name="causa_perdida" type="text" class="form-control" aria-label="Causa" aria-describedby="Causa">
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarPerdida"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade m-2" id="nacimientos" role="tabpanel" aria-labelledby="nacimientos-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Fecha</th>
                                    <th>Fecundación</th>
                                    <th>ID Animal</th>
                                    <th>Raza</th>
                                    <th>Sexo</th>
                                    <th>Grupo Destino</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyNacimientos">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <input id="fecha_nacimiento" name="fecha_nacimiento" type="date" class="form-control" aria-label="Fecha" aria-describedby="Fecha">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" id="fecundacion_nacimiento" name="fecundacion_nacimiento" class="form-control" aria-label="fecundacion de nacimiento" aria-describedby="fecundacion de nacimiento" disabled>
                                            <div class="input-group-append">
                                                <button id="btn_buscar_fecundacion_nacimiento" class="btn btn-sm btn-primary"><i class="fas fa-search"></i></span></button>
                                            </div>
                                        </div>
                                    </td>   
                                    <td>
                                        <input id="id_animal" name="id_animal" type="text" class="form-control" aria-label="ID Animal" aria-describedby="ID Animal">
                                    </td>
                                    <td>
                                        <select id="raza_nacimiento" name="raza_nacimiento" class="form-control" aria-label="Raza" aria-describedby="Raza">
                                        </select>
                                    </td> 
                                    <td>
                                        <select id="sexo" name="sexo" class="form-control" aria-label="Sexo" aria-describedby="Sexo">
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select>
                                    </td> 
                                    <td>
                                        <select id="grupo_destino" name="grupo_destino" class="form-control" aria-label="Grupo Destino" aria-describedby="Grupo Destino">
                                            <option value="1">Engorde</option>
                                            <option value="2">Reproducción</option> 
                                        </select>
                                    </td> 
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarNacimiento"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</div>
<div id="buscador" hidden>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"></h3>
        </div>
        <div class="card-body">
            <div class="justify-content-center mb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Filtro</span>
                    </div>
                    <input id="filtro" type="text" class="form-control" aria-label="Filtro" aria-describedby="Filtro">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a id="ant" class="page-link" href="#">Ant</a>
                    </li>
                    <li class="page-item"><span id="actual" class="page-link" href="#">1</span></li>
                    <li class="page-item">
                        <a id="sig" class="page-link" href="#">Sig</a>
                    </li>
                </ul>
            </nav>
            <div class="justify-content-center">
                <div class="input-group m-auto" style="width: 150px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Registros</span>
                    </div>
                    <input id="registros" type="number" value="5" min="1" class="form-control" aria-label="Registros" aria-describedby="Registros">
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="btn_cerrar_buscador" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Regresar
            </button>
        </div>
    </div>
</div>
<script src="/static/historial/js/form.js"></script>
<script>
    {% if form.errors %}
    var errors = '';
    {% for field in form %}
    {% for error in field.errors %}
    errors += '{{ error }}\n';
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    errors += '{{ error }}\n';
    {% endfor %}
    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    });
    {% endif %}

    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data) {
            console.log(data);
            if (!data.hasOwnProperty('error')) {
                //location.href = '{{ list_url }}';
                alerta("Alerta del Sistema", "¡Guardado exitoso!", "success");
                location.href = `/apl/historial/update/${data.id}/`;
                return false;
            }
            message_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });
    });
</script>
{% endblock %}