{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'historial/js/list.js' %}"></script>
{% endblock %}

{% csrf_token %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Raza</th>
        <th scope="col">Código Animal</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Grupo Destino</th>
        <th scope="col">Fecha Vendible</th>
        <th scope="col">Sexo</th>
        <th scope="col" class="text-center">Ascendencia</th>
        <th scope="col" class="text-center">Medida Actual</th>
        <th scope="col">Castrado/a</th>
        <th scope="col">Categoría</th>
        <th scope="col">Estado</th>
        <th scope="col" style="width: 100px;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}