{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'fallecimiento/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr> <tr>
        <th scope="col" style="width: 15%;">Nro</th>
        <th scope="col" style="width: 15%;">Código Animal</th>
        <th scope="col" style="width: 15%;">Causa</th>
        <th scope="col" style="width: 10%;">Fecha</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}