{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'preventivo/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr> <tr>
        <th scope="col" style="width: 15%;">ID</th>
        <th scope="col" style="width: 10%;">Tipo</th>
        <th scope="col" style="width: 10%;">Descripción</th>
        <th scope="col" style="width: 10%;">Periodicidad</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}