{% load static %}
<link rel="stylesheet" href="/static/styles.css">
<!-- Alerta del sistema -->
<div id="toastAlertas"></div>
<!-- MODAL CIERRE SESION -->
<div class="modal fade" id="confirmar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="bodyConfirmar" class="modal-body">
                <p>¿Desea cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnConfirmar" class="btn btn-primary" onclick="location.href = '{% url 'logout' %}'">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
    <a href="#" class="navbar-brand">
        <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo"
                class="brand-image"
                style="opacity: .8">
        <span class="brand-text font-weight-light">Sistema Ganadero</span>
    </a>
    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link"><i class="fas fa-home"></i>Home</a>
            </li>
            {% if request.user.groups.all.0.name == "Administrador" or request.user.groups.all.0.name == "Animal" %}
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Animales</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'apl:historial_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Historial</a></li>
                        <li><a href="{% url 'apl:raza_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Razas</a></li>
                        <li><a href="{% url 'apl:grupodestino_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Grupo Destino</a></li>
                        <li><a href="{% url 'apl:estado_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Estado</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Salud Animal</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'apl:tipotprev_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Tipos de Tratamientos Preventivos</a></li>
                        <li><a href="{% url 'apl:preventivo_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Tratamientos Preventivos</a></li>
                        <li><a href="{% url 'apl:fallecimiento_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Fallecimientos</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.groups.all.0.name == "Administrador" or request.user.groups.all.0.name == "Cajero" %}
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Venta</a>
                    <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'apl:comprador_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Compradores</a></li>
                        <li><a href="{% url 'apl:loteventa_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Pedidos de Lotes</a></li>
                        <li><a href="#" onclick="imprimir_vendibles();" class="dropdown-item"><i class="fas fa-arrow-right"></i> Lotes Listos</a></li>
                        <li><a href="#" onclick="imprimir_vendidos();" class="dropdown-item"><i class="fas fa-arrow-right"></i> Vendidos</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user.groups.all.0.name == "Administrador" or request.user.groups.all.0.name == "Compra" %}
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Inventario</a>
                    <ul aria-labelledby="dropdownSubMenu4" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'apl:vendedor_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Vendedores</a></li>
                        <li><a href="{% url 'apl:articulo_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Artículos</a></li>
                        <li><a href="{% url 'apl:estimacion_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Estimación</a></li>
                        <li><a href="{% url 'apl:compra_list' %}" class="dropdown-item"><i class="fas fa-arrow-right"></i> Compras</a></li>
                    </ul>
                </li>
            {% endif %}
            <!--<li class="nav-item dropdown">
                <a id="dropdownSubMenu6" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Accesos</a>
                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                    <li><a href="#" class="dropdown-item"><i class="fas fa-arrow-right"></i> Usuarios</a></li>
                    <li><a href="#" class="dropdown-item"><i class="fas fa-arrow-right"></i> Roles</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-users-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">
                    Logueado el {{ request.user.last_login }}</br>{{ request.user.groups.all.0.name }}
                </span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item pointer" href="/accounts/password_change/" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-lock mr-2"></i> Cambiar clave de acceso
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link pointer" onclick="confirmarCierreSesion()">
                <i class="fas fa-power-off" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="application/javascript" src="/static/scripts.js"></script>