{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'articulo/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nombre</th>
        <th scope="col" style="width: 50%;">Cantidad Actual</th>
        <th scope="col" style="width: 20%;">Cantidad Ideal</th>
        <th scope="col" style="width: 20%;">Opciones</th>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}