{% block content %}
    {% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
        <link rel="stylesheet"
            href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
        <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'inicio/js/scripts.js' %}"></script>
        {% block head_list %}
        {% endblock %}
    {% endblock %}
{% if user.is_authenticated %}
    {% include 'layout.html' %}
{% else %}
    <script>
        location.href="./accounts/login/";
    </script>
{% endif %}
{% endblock %}