<!-- templates/registration/login.html -->
{% include 'home.html' %}
{% block body %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center">
      <div class="card-header text-white bg-primary">Acceso</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}