{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'estimacion/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Fecha</th>
        <th scope="col" style="width: 20%;">Opciones</th>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}