{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
<div id="formulario">
    <div class="card card-primary">
        <form id="frm" method="post" action=".">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                    {% else %}
                    <i class="fas fa-edit"></i>
                    {% endif %}
    
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                    <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}:</label>
                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                </div>
                {% endfor %}
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary btn-flat" id="btnGuardarCompra">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
    <div class="card card-primary">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <span class="nav-link active" id="detalles-tab" data-toggle="tab" data-target="#detalles"
                        role="tab" aria-controls="detalles"
                        aria-selected="true">Detalles</span>
                </li>
            </ul>
            <div class="tab-content" id="compraTab">
                <div class="tab-pane fade show m-2 active" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-right">ID</th>
                                    <th>Artículo</th>
                                    <th>Cantidad</th>
                                    <th class="text-center">Operación</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyDetalles">
                                <tr>
                                    <td class="align-middle text-right">0</td>
                                    <td>
                                        <div class="input-group">
                                            <select id="articulo" name="articulo" class="form-control" aria-label="Artículo" aria-describedby="Artículo">
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="cantidad" name="cantidad" type="number" min="1" class="form-control" aria-label="Cantidad" aria-describedby="Cantidad">
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-success" id="btnGuardarDetalle"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</div>
<div id="buscador" hidden>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"></h3>
        </div>
        <div class="card-body">
            <div class="justify-content-center mb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Filtro</span>
                    </div>
                    <input id="filtro" type="text" class="form-control" aria-label="Filtro" aria-describedby="Filtro">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a id="ant" class="page-link" href="#">Ant</a>
                    </li>
                    <li class="page-item"><span id="actual" class="page-link" href="#">1</span></li>
                    <li class="page-item">
                        <a id="sig" class="page-link" href="#">Sig</a>
                    </li>
                </ul>
            </nav>
            <div class="justify-content-center">
                <div class="input-group m-auto" style="width: 150px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Registros</span>
                    </div>
                    <input id="registros" type="number" value="5" min="1" class="form-control" aria-label="Registros" aria-describedby="Registros">
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="btn_cerrar_buscador" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Regresar
            </button>
        </div>
    </div>
</div>
<script src="/static/compra/js/form.js"></script>
<script>
    {% if form.errors %}
    var errors = '';
    {% for field in form %}
    {% for error in field.errors %}
    errors += '{{ error }}\n';
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    errors += '{{ error }}\n';
    {% endfor %}
    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    });
    {% endif %}

    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data) {
            console.log(data);
            if (!data.hasOwnProperty('error')) {
                //location.href = '{{ list_url }}';
                alerta("Alerta del Sistema", "¡Guardado exitoso!", "success");
                document.getElementById("frm").dataset.id = data.id;
                document.getElementById("btnGuardarCompra").disabled = true;
                actualizar_articulos_estimacion();
                buscar_compra_detalles();
                siguiente_elemento("cantidad", "btnGuardarDetalle");
                return false;
            }
            message_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });
    });
</script>
{% endblock %}