{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'compra/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">ID</th>
        <th scope="col" style="width: 10%;">ID Vendedor</th>
        <th scope="col" style="width: 10%;">Vendedor</th>
        <th scope="col" style="width: 10%;">ID Estimación</th>
        <th scope="col" style="width: 10%;">Fecha Estimación</th>
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 10%;">Confirmado</th>
        <th scope="col" style="width: 10%;">Recibido</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}