{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'loteventa/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">ID</th>
        <th scope="col" style="width: 10%;">ID Comprador</th>
        <th scope="col" style="width: 10%;">Comprador</th>
        <th scope="col" style="width: 10%;">Precio KG</th>
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 10%;">Confirmado</th>
        <th scope="col" style="width: 10%;">Enviado</th>
        <th scope="col" style="width: 10%;">Recepcionado</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}