#toastAlertas {
    right:0px;
    top:55px;
    width:250px;
    position:absolute;
    z-index:9999;
}

.pointer {
    cursor: pointer;
}

.nav-link {
    cursor: pointer !important;
}

#buscador tbody tr {
    cursor: pointer;
}

#data{
    td, th {
        vertical-align: middle;
    }
}